<!----services----->
<section id="services">
  <div class="container">
   <h1>Our Services</h1>
   <div class="row services">
       <div class="col-md-3 text-center">
           <div class="icon">
                <i class="fa fa-desktop"></i>
                </div>
                <h3>Tutoring</h3>
                <p>We will explain you what you don't understand.</p>
           </div>
           <div class="col-md-3 text-center">
                <div class="icon">
                     <i class="fa fa-tablet"></i>
                     </div>
                     <h3>Exam Preparation</h3>
                     <p>Get prepared for that exam.</p>
                </div>
                <div class="col-md-3 text-center">
                        <div class="icon">
                             <i class="fa fa-battery-full"></i>
                        </div>
                             <h3>Homework</h3>
                             <p>Students should enjoy their young ages. Leave the rest to us.</p>
                        </div>
                        <div class="col-md-3 text-center">
                                <div class="icon">
                                     <i class="fa fa-balance-scale"></i>
                                </div>
                                     <h3>Knowledge</h3>
                                     <p>Upgrade your brain with our courses.</p>
                                </div>
       
   </div>
  </div>
  </section>